.lk__chat-pop {
    position: absolute;
    top: 0;
    right: 0px;
    transition: cubic-bezier(0.4, 0, 0.2, 1) .26s transform;
    transform: translateY(40px);
    display: block;
    margin: 0;
    padding: 25px 0 0 0;
    width: 780px;
    min-width: 320px;
    height: 640px;

    .chat__wrap {
        background: #fff;
        width: 100%;
        margin: 0;
        border: 1px solid var(--Stroke, #E2E8F0);
        box-shadow: 0px 0px 2px 0px rgba(41,41,51,.04), 0px 8px 24px 0px rgba(41,41,51,.12);
        border-radius: 20px;
        position: relative;
        height: 100%;
        padding: 6px;
        display: flex;
    }

    .chat__left {
        width: 348px;
    }

    .chat__right {
        flex: 1;
        overflow: hidden;
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0 0 0 6px;
        border-radius: 20px;
    }

    .chat__title {
        margin: 6px 0 12px 12px;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        color: var(--color-fg-black);
        font-size: 18px;
        font-weight: 400;

        > div {
            display: flex;
            align-items: center;
            margin: 0 20px 0 0;
        }

        span {
            background-color: #f2f4f7;
            color: var(--color-fg-black);
            width: 28px;
            height: 28px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            font-weight: 600;
            margin: 0 0 0 16px;
            cursor: pointer;
            transition: all 0.2s linear;

            &:hover {
                background: var(--color-fg-main);
                color: var(--color-fg-white);
            }

            i {
                font-size: 19px;
            }
        }
    }
}

.chat__href {
    display: flex;
    color: var(--color-fg-black);
    position: relative;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s linear;

    &.chat__href-active {
        background: #EFF4FB;
    }

    &:hover {
        background: #f5f4f9;
    }

    .chat__img {
        width: 48px;
        height: 48px;
        display: block;
        margin: 0 10px 0 0;

        img {
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }

    }

    .chat__info {
        flex: 1;

        .chat__info-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            span {
                display: inline-block;
            }

            .chat__info-title {
                font-size: 14px;
                font-weight: 600;
            }

            .chat__info-time {
                color: var(--color-fg-800);
                font-size: 14px;
            }
        }

        .chat__info-subject {
            color: var(--color-fg-800);
            font-size: 13px;
            display: flex;
            align-items: center;
            margin: 2px 0 4px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            i {
                margin: 0 4px 0 0;
            }
        }

        .chat__info-bottom {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;

            span {
                display: inline-block;
            }

            .chat__info-bottom-text {
                color: var(--color-fg-black);
                line-height: 1.3;
                font-size: 14px;
                margin: 0 16px 0 0;
                font-weight: 400;
            }

            .chat__pin {
                display: flex;
                align-items: center;

                .chat__bot-count {
                    background: var(--color-fg-main);
                    color: var(--color-fg-white);
                    border-radius: 10px;
                    font-size: 13px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 25px;
                    height: 20px;
                }
            }
        }
    }
}

.chat__header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    height: 55px;
    width: 100%;
    backdrop-filter: saturate(180%) blur(20px);
    padding: 0 12px 0 6px;

    .chat-header-right {
        display: flex;
        align-items: center;

        > button {
            background: transparent;
            border: 0;
            cursor: pointer;
            color: var(--color-fg-800);
            font-size: 24px;
            margin: 0 0 0 20px;
            transition: all 0.2s linear;

            @media (hover: hover) {
                &:hover {
                    color: var(--color-fg-black);
                }
            }
        }
    }

    .chat__header-left {
        display: flex;
        align-items: center;

        .chat__header-img {
            width: 45px;
            height: 45px;
            display: block;
            margin: 0 6px 0 0;

            img {
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }

        }

        .chat__header-top {
            flex: 1;

            .chat__header-title {
                font-size: 14px;
                font-weight: 600;
                line-height: 1.0;
                color: var(--color-fg-black);

                &:hover {
                    text-decoration: underline;
                }
            }

            .chat__header-subject {
                color: var(--color-fg-800);
                font-size: 13px;
                display: flex;
                align-items: center;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &:hover {
                    text-decoration: underline;
                }

                i {
                    margin: 0 4px 0 0;
                }
            }

        }
    }
}

.chat__layout {
    display: flex;
    height: 100%;
    overflow: hidden;
    //background: #f5f4f9;
}

.chat__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.chat__messages {
    background-color: #f5f4f9;
    display: flex;
    flex: 0.9;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: auto;
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    border: 1px solid var(--Stroke, #E2E8F0);;

    &:before {
        content: "";
        backdrop-filter: blur(5px);
        background: #ffffff24;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 20px;
        width: 100%;
        height: 100%;
    }

}

.chat__actions {
    overflow: hidden;
    width: 100%;
    height: 50px;
    padding: 5px 6px 5px 0;
    display: flex;
    align-items: end;

    > input {
        padding: 0 10px;
        color: var(--color-fg-black);
        background: #f5f4f9;
        border-radius: 10px;
        transition: all 0.1s linear;
        height: 35px;
        width: 100%;
        outline: none;
        flex: 1;
        display: flex;
        align-items: flex-end;
        margin: 0 8px 0 0;
        font-weight: 400;
        border: 1px solid transparent;

        &:focus {
            border-color:  var(--color-fg-black);
        }

    }

    > button {
        color: var(--color-fg-white);
        border-radius: 50%;
        width: 35px;
        height: 35px;
        background: var(--color-fg-main);
        border: 0;
        font-size: 23px;
        transition: all 0.2s linear;
        cursor: pointer;

        &:hover {
            background: var(--color-fg-black);
        }
    }
}

.chat__messages {
    > div {
        position: relative;
        z-index: 1;
        padding: 6px;
        color: var(--color-fg-black);
    }

    .chat__context-time {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        span {
            color: var(--color-fg-black);
            font-size: 13px;
            border-radius: 20px;
            padding: 2px 8px;
            -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
            background: #f5f4f9;
            display: block;
            margin: 10px 0;
        }
    }

    .msg__text {
        font-size: 14px;
    }

    .msg__to {
        display: flex;
        justify-content: left;

        .msg__tmp {
            display: flex;
            background: var(--color-fg-white);
            margin: 0 0 6px 10px;
            color: var(--color-fg-black);
            border-radius: 20px 20px 20px 10px;
            padding: 3px 8px;
            max-width: 70%;
            align-items: center;
        }

        .msg__time {
            color: var(--color-fg-800);
            font-size: 11px;
            margin: 6px 0 0 6px;
        }
    }

    .msg__from {
        display: flex;
        justify-content: right;

        .msg__tmp {
            display: flex;
            background: var(--color-fg-main);
            margin: 0 10px 6px 0;
            color: var(--color-fg-white);
            border-radius: 20px 20px 10px 20px;
            padding: 3px 8px;
            max-width: 70%;
            align-items: center;
        }

        .msg__time {
            color: var(--color-fg-white);
            font-size: 11px;
            margin: 6px 0 0 6px;
            opacity: 0.8;
        }
    }
}
