.lk__wrapper {
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    align-items: stretch;
    background: #F5F7F9;
}

.lk__section {
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    align-items: stretch;
    min-height: 100vh;
}

.lk__menu {
    display: flex;
    z-index: 1000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin-right: 0 !important;
    margin-left: 0 !important;
    transition: all .3s;
    flex: 1 0 auto;
    background: var(--color-fg-white) !important;

    border-right: 1px solid var(--color-bg-body);

    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
}

.lk__menu-max {
    width: 265px;
}

.lk__menu-min {
    width: 85px
}

.lk__menu {
    .lk__copy {
        display: block;
        margin: 0 0 16px 16px;
        font-size: 13px;
        font-weight: 300;
        color: var(--color-fg-800);
        opacity: 1;
    }

    .lk__menu-brand {
        height: 65px;
        padding: 16px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--color-bg-body);
        margin: 0 0 36px 0;

        img {
            height: 38px;
            margin: 0 12px 0 0;
        }

        span {
            opacity: 1;
            font-size: 19px;
            font-weight: 800;
        }
    }

    .lk__menu-ul {
        padding: 0 16px;
        margin: 0;

        li {
            position: relative;
        }
    }

    .lk__link {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 6px 10px;
        border-radius: 8px;
        color: #7C7F84;
        margin: 0 0 10px 0;
        transition: all 0.2s linear;

        &:hover {
            color: var(--color-fg-white);
            background: var(--color-bg-main);
        }

        i {
            font-size: 21px;
            margin: 0 14px 0 0;
        }

        .lk__link-title {
            opacity: 1;
            font-weight: 400;
            font-size: 14px;
        }
    }

    .lk__link-active {
        color: var(--color-fg-white);
        background: var(--color-bg-main);
    }
}

.lk__menu-min {
    .lk__copy {
        opacity: 0;
        display: none;
    }

    .lk__link {
        padding: 6px 6px;
        justify-content: center;

        i {
            margin: 0;
        }

        .lk__link-title {
            opacity: 0;
            display: none;
        }
    }

    .lk__menu-brand {
        img {
            margin: 0;
            height: 34px;
        }

        span {
            opacity: 0;
            display: none;
        }
    }
}


.lk__nav {
    width: 100%;
    margin: 0 0 30px 0;
    background: var(--color-fg-white) !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;

    border-bottom: 1px solid var(--color-bg-body);
    position: relative;
    transition: all .3s;

    .lk__menu-replace {
        width: 30px;
        height: 30px;
        border-radius: 6px;
        color: var(--color-fg-main);
        background: var(--color-bg-body);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        cursor: pointer;
        position: absolute;
        left: -16px;
        top: 15px;
        bottom: 0;
        z-index: 10000;
        transition: all 0.2s linear;

        &:hover {
            color: var(--color-fg-white);
            background: var(--color-bg-main);
        }
    }
}



.lk__page {
    display: flex;
    flex: 1 1 auto;
    align-items: stretch;
    padding: 0;
    flex-basis: 100%;
    flex-direction: column;
    width: 0;
    min-width: 0;
    max-width: 100%;
    position: relative;
}

.lk__page-max {
    margin-left: 265px;

    .lk__content {
        padding: 0 40px;
    }
}

.lk__page-min {
    margin-left: 85px;

    .lk__content {
        padding: 0 140px;
    }
}

.lk__content {
    width: 100%;
}

.lk__content-flex {
    display: flex;
    width: 100%;
}

.lk__content-left {
    flex: 1;
}

.lk__content-right {
    width: 280px;
    top: 20px;
    position: sticky;
    margin: 0 0 0 30px;
}

.lk__tabs-bth {
    display: flex;
    align-items: center;

    > div {
        display: inline-block;
        border-bottom: 2px solid transparent;
        color: var(--color-fg-800);
        padding: 12px 16px;
        font-size: 14px;
        cursor: pointer;
        transition: all 0.2s linear;
        margin: 0 16px 0 0;
        font-weight: 500;
    }

    > .lk__tab-active {
        color: var(--color-fg-main);
        border-color:var(--color-fg-main);
        cursor: auto;
    }
}

.lk__div {
    margin: 30px 0 0 0;
    padding: 25px;
    display: block;
    background: var(--color-fg-white);
    height: fit-content;
    width: 100%;
    border-radius: 20px;
    border: 1px solid var(--Stroke, #E2E8F0);
    min-height: 250px;

    .lk__div-title {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 17px;
        font-weight: 400;
        padding: 0 0 16px 0;
        margin: 0 0 16px 0;
        border-bottom: 1px solid rgba(21, 19, 61, 0.16);
    }
}

.lk__bar {
    width: 100%;
    background: var(--color-fg-white);
    height: fit-content;
    border-radius: 20px;
    border: 1px solid var(--Stroke, #E2E8F0);
    padding: 25px 25px 0 25px;
    position: relative;

    .lk__bar-img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        img {
            width: 110px;
            height: 110px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .lk__bar-logout {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 0 0 20px 0;
        color: #575757;
        font-size: 14px;

        i {
            font-size: 20px;
        }
    }

    .lk__bar-name {
        font-weight: 600;
        font-size: 18px;
        padding: 0;
        text-align: center;
        margin: 16px 0 3px 0;
        color: #575757;
    }

    .lk__bar-status {
        font-size: 14px;
        text-align: center;
        color: var(--color-bg-green);
    }

    .lk__bar-slink {
        margin: 26px 0 0 0;
    }

    .lk__slink-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background: #F5F7F9;
        border-radius: 10px;
        padding: 8px 12px 8px 8px;
        margin: 0 0 10px 0;
    }

    .lk__slink-title {
        font-size: 13px;
        display: flex;
        align-items: center;
        color: #575757;

        span {
            color: var(--color-fg-white);
            background: var(--color-bg-main);
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 23px;
            border-radius: 50%;
            margin: 0 8px 0 0;
        }
    }

    .lk__slink-enum {
        font-size: 17px;
    }
}

.lk__bar-notice {
    display: block;
    margin: 26px 0 0 0;

    .lk__notice-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 15px;
        font-weight: 500;
        margin: 0 0 10px 0;

        i {
            font-size: 20px;
        }
    }

    .lk__nl-item {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 0 6px 0;

        i {
            color: #575757;
            font-size: 30px;
            margin: 0 10px 0 0;
        }

        > div {
            span {
                display: block;
                color: #575757;
                font-size: 14px;
                margin: 0;
                font-weight: 600;
            }

            p {
                margin: 0;
                padding: 0;
                font-size: 13px;
                color: #575757;
            }
        }
    }
}

.lk__more-notice {
    width: 100%;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;

    a {
        color: var(--color-fg-white);
        background: var(--color-bg-main);
        text-align: center;
        font-size: 13px;
        text-transform: uppercase;
        padding: 8px 0;
        width: 190px;
        margin: 0 auto;
        border-radius: 30px 30px 0 0;
        transition: all 0.2s linear;

        &:hover {
            color: var(--color-fg-white);
            background: var(--color-fg-main);
        }
    }

}

.lk__label {
    width: 100%;
    margin: 0 0 30px 0;
    display: block;
    position: relative;

    > span {
        font-size: 14px;
        margin: 0 0 6px 0;
        display: flex;
        align-items: center;

        m {
            color: #ff4c4c;
            display: block;
            font-size: 15px;
            line-height: 16px;
            margin: 0 0 0 6px;
        }
    }

    input, select {
        font-size: 14px;
        background-color:  transparent;
        outline: none;
        border: 2px solid var(--color-br-inp);
        width: 100%;
        padding: 0 12px;
        border-radius: 8px;
        margin: 0;
        box-shadow: none;
        flex: 1;
        transition: all .2s ease-in 0s;
        appearance: none;
        height: 38px;
        position: relative;

        &:hover {
            background: var(--color-fg-white);
        }

        &:focus {
            background-color: var(--color-bg-inp);
            border-color: var(--color-fg-main);
        }

        &:disabled {
            cursor: no-drop;
            border: 0;
            resize: none;
            background: var(--color-br-inp);
        }
    }

    .label__select-block {
        position: relative;

        i {
            position: absolute;
            right: 12px;
            top: 4px;
            font-size: 20px;
            cursor: pointer;
            z-index: 100;
        }
    }

    .label__exp {
        align-items: center;
        color: #575757;
        font-size: 13px;
        line-height: 14px;
        position: absolute;
        left: 0;
        bottom: -20px;
        text-decoration: underline;
        text-decoration-style: dashed;
        font-weight: 400;
    }
}

.auth__flex > .lk__label:first-of-type {
    margin: 0 20px 30px 0;
}

.auth__flex > .lk__label:nth-child(3) {
    margin: 0 0 30px 20px;
}

.lk__form {
    .auth__flex-mini {
        margin: 0 0 30px 0;
        position: relative;
    }

    .lk__button {
        display: inline-flex;
        background: var(--color-fg-500);
        color: var(--color-fg-white);
        height: 45px;
        padding: 0 36px;
        border-radius: 10px;
        font-size: 14px;
        align-items: center;
        justify-content: center;
        margin: 26px 0 0 auto;
        transition: all .2s linear;
        border: 0;
        cursor: pointer;

        &:hover {
            background: var(--color-fg-main);
        }
    }
}
