<!DOCTYPE html>
<!--[if lt IE 6 ]>
<html class="ie ie6" lang="ru" dir="ltr"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="ru" dir="ltr"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="ru" dir="ltr"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie ie9" lang="ru" dir="ltr"> <![endif]-->
<!--[if IE 10 ]>
<html class="ie ie10" lang="ru" dir="ltr"> <![endif]-->
<!--[if (gte IE 11)|!(IE)]><!-->
<html lang="ru" dir="ltr" theme="light" xmlns="http://www.w3.org/1999/html">
<!--<![endif]-->
<head>

    <meta charset="utf-8"/>

    <!-- SEO -->
    <title>Мои отклики</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=" />
    <link rel=" canonical
    " href="" />
    <meta http-equiv="content-language" content="ru"/>
    <meta name="robots" content="index, follow"/>
    <meta http-equiv="x-dns-prefetch-control" content="on"/>

    <meta name="author" content=""/>
    <meta name="copyright" content="ООО «ТалентСпот»"/>

    <link rel="shortcut icon" href="" type="image/x-icon"/>
    <link rel="icon" href="" type="image/x-icon"/>
    <!-- / SEO  -->

    <link rel="stylesheet" href="../../build/styles.bundle.css">

    <!-- SCRIPT FOR OLD BROWSERS -->
    <script type="text/javascript">
        !function () {
            "use strict";

            function trackOldBrowserEvent() {
                var t = function createXmlHttpRequestObject() {
                    var t;
                    try {
                        t = new XMLHttpRequest
                    } catch (r) {
                        for (var e = new Array("MSXML2.XMLHHTP.11.0", "MSXML2.XMLHHTP.10.0", "MSXML2.XMLHHTP.9.0", "MSXML2.XMLHHTP.8.0", "MSXML2.XMLHHTP.7.0", "MSXML2.XMLHHTP.6.0", "MSXML2.XMLHHTP.5.0", "MSXML2.XMLHHTP.4.0", "MSXML2.XMLHHTP.3.0", "MSXML2.XMLHHTP", "Microsoft.XMLHHTP"), s = 0; s < e.length && !t; s++) try {
                            t = new ActiveXObject(e[s])
                        } catch (t) {
                        }
                    }
                    return null != t ? t : void 0
                }(), e = new Object;
                return e.open = "/badbrowser?status=" + (0 !== t.status && t.status), e.xhr = t.responseURL ? t.responseURL : "/badbrowser?status=" + (0 !== t.status && t.status), t.open("GET", e.open, !0), t.setRequestHeader("Content-Type", "text/html"), t.setRequestHeader("X-Requested-With", "XMLHttpRequest"), t.onreadystatechange = function () {
                    if (4 === t.readyState && (t.status >= 200 && t.status < 300 || 304 === t.status || 0 === t.status && "file:" === protocol)) try {
                        location.replace(t.responseURL ? t.responseURL : "/badbrowser?status=" + t.status)
                    } catch (t) {
                    }
                }, t.send(e.xhr ? e.xhr : null), t
            }

            !function checkOldBrowser() {
                if (document.body) try {
                    "CSS" in window && CSS.supports("display", "flex") && "undefined" != typeof Symbol || trackOldBrowserEvent()
                } catch (t) {
                } else setTimeout(checkOldBrowser, 100)
            }()
        }();
    </script>
    <!-- / SCRIPT FOR OLD BROWSERS -->

    <!-- INCLUDE LIBS -->
    <script src="https://cdn.quilljs.com/1.3.0/quill.min.js"></script>
    <!-- / INCLUDE LIBS -->

    <!-- INCLUDE ICONS AND FRONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.3.67/css/materialdesignicons.min.css"
          integrity="sha512-nRzny9w0V2Y1/APe+iEhKAwGAc+K8QYCw4vJek3zXhdn92HtKt226zHs9id8eUq+uYJKaH2gPyuLcaG/dE5c7A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- / INCLUDE ICONS AND FRONTS -->

</head>
<body class="lk__body">

<!-- MODEL BLOCK -->
<div class="model model__responses" data-respons="1">
    <div class="model__wrapper">
        <div class="model__container">
            <div class="model__title">
                <span class="model__title-span">Мои отклики / Отклик №1</span>
                <i class="mdi mdi-close model__title-close"></i>
            </div>
            <div class="model__content">
                <div class="slick__wrapper">
                    <div class="slick__block">
                        <div class="slick__title">Информация об отклике <a target="_blank" href=""><i class="mdi mdi-arrow-top-right-thin-circle-outline"></i></a></div>
                    </div>
                    <div class="slick__block">
                        <div class="slick__list">
                            <div class="slick__item">
                                <div class="slick__left">
                                    <i class="mdi mdi-briefcase-outline"></i>
                                    Вакансия
                                </div>
                                <div class="slick__right">Системный администратор</div>
                            </div>
                            <div class="slick__item">
                                <div class="slick__left">
                                    <i class="mdi mdi-source-fork"></i>
                                    Статус
                                </div>
                                <div class="slick__right">На рассмотрении</div>
                            </div>
                            <div class="slick__item">
                                <div class="slick__left">
                                    <i class="mdi mdi-domain"></i>
                                    Компания
                                </div>
                                <div class="slick__right">Тинькофф</div>
                            </div>
                            <div class="slick__item">
                                <div class="slick__left">
                                    <i class="mdi mdi-calendar-today-outline"></i>
                                    Откликнулись
                                </div>
                                <div class="slick__right"> 17 декабря 17:40</div>
                            </div>
                        </div>
                    </div>
                    <div class="slick__block">
                        <div class="slick__list">
                            <div class="slick__item">
                                <div class="slick__left">
                                    <i class="mdi mdi-cash"></i>
                                    Зарплата
                                </div>
                                <div class="slick__right">от 60 000 руб.</div>
                            </div>
                            <div class="slick__item">
                                <div class="slick__left">
                                    <i class="mdi mdi-map-marker-outline"></i>
                                    Место работы
                                </div>
                                <div class="slick__right">г. Ставрополь, ул Лазо 31</div>
                            </div>
                            <div class="slick__item">
                                <div class="slick__left">
                                    <i class="mdi mdi-head-cog-outline"></i>
                                    Опыт работы
                                </div>
                                <div class="slick__right">Без опыта</div>
                            </div>
                            <div class="slick__item">
                                <div class="slick__left">
                                    <i class="mdi mdi-calendar-month-outline"></i>
                                    График работы
                                </div>
                                <div class="slick__right">Полный рабочий день</div>
                            </div>
                            <div class="slick__item">
                                <div class="slick__left">
                                    <i class="mdi mdi-clock-time-four-outline"></i>
                                    Тип занятости
                                </div>
                                <div class="slick__right"> Полная занятость</div>
                            </div>
                            <div class="slick__item">
                                <div class="slick__left">
                                    <i class="mdi mdi-school-outline"></i>
                                    Образование
                                </div>
                                <div class="slick__right"> Не важно</div>
                            </div>
                        </div>
                        <div class="slick__slot">
                            <span class="slick__slot-item"><i class="Люди с инвалидностью"></i></span>
                        </div>
                    </div>
                    <div class="slick__block">
                        <div class="slick__title">Комментарий компании</div>
                        <span class="slick__text">Скорее всего компания сейчас рассматривает Вашу кандидатуру.
                            (Данная система не отображает полноту картины — она является условной.
                            Компания может не сортировать отклики и не отправлять Вам сообщения через нашу системy)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / MODEL BLOCK -->

<!-- MAIN CONTENT -->
<main id="wrapper" class="wrapper lk__wrapper">
    <section class="lk__section">

        <aside class="lk__menu">
            <div class="lk__menu-tmp">
                <div class="lk__menu-brand">
                    <div>
                        <img src="../../src/images/static/logo/166666/png/128x128.png" alt="">
                        <span>TalentSpot</span>
                    </div>
                </div>
                <ul class="lk__menu-ul">
                    <li>
                        <a class="lk__link" href="">
                            <span>
                                <i class="mdi mdi-arrow-top-right-thin-circle-outline"></i>
                                <div class="lk__link-title">Искать вакансии</div>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="lk__link" href="">
                            <span>
                                <i class="mdi mdi-chart-line-variant"></i>
                                <div class="lk__link-title">Дашборд</div>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="lk__link">
                            <span>
                                <i class="mdi mdi-database-lock-outline"></i>
                                <div class="lk__link-title">Мои резюме</div>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="lk__link lk__link-active" href="">
                            <span>
                                  <i class="mdi mdi-briefcase-outline"></i>
                                <div class="lk__link-title">Мои отклики</div>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="lk__link" href="">
                            <span>
                                   <i class="mdi mdi-shield-outline"></i>
                                <div class="lk__link-title">Безопасность</div>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="lk__link" href="">
                            <span>
                               <i class="mdi mdi-handshake-outline"></i>
                                <div class="lk__link-title">Центр поддержки</div>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="lk__copy">
                <i class="mdi mdi-copyright"></i> 2023 ООО «ТалентСпот»

            </div>
        </aside>

        <div class="lk__page">
            <div class="lk__nav">
                <div class="lk__nav-left">
                    <div class="lk__menu-replace">

                    </div>

                    <div class="lk__search-wrapper">
                        <label for="lk__search" class="lk__search-label">
                            <i class="mdi mdi-magnify"></i>
                            <input type="text" name="lk__search" id="lk__search" placeholder="Введите для поиска...">
                        </label>
                        <div class="lk__search-result">

                        </div>
                    </div>
                </div>
                <div class="lk__nav-right">
                    <a href="">Добавить резюме</a>
                    <div class="lk__nav-item lk__nav-bell lk__nav-chat">
                        <span><i class="mdi mdi-chat"></i></span>
                        <div class="pip"></div>
                        <div class="lk__chat-pop">
                            <div class="chat__wrap">
                                <div class="chat__left">
                                    <div class="chat__title">
                                        Чаты

                                        <div>
                                                  <span>
                                                <i class="mdi mdi-tune-variant"></i>
                                            </span>
                                            <span>
                                                1
                                        </span>
                                        </div>

                                    </div>
                                    <div class="chat__list">
                                        <a href="" class="chat__href chat__href-active">
                                            <span class="chat__img">
                                                <img src="../../src/images/media/user/user.jpg" alt="">
                                            </span>
                                            <div class="chat__info">
                                                <div class="chat__info-top">
                                                    <span class="chat__info-title">Николай Иванов</span>
                                                    <span class="chat__info-time">15:30</span>
                                                </div>
                                                <div class="chat__info-subject">
                                                    <i class="mdi mdi-briefcase"></i>
                                                    Java разработчик
                                                </div>
                                                <div class="chat__info-bottom">
                                                    <span class="chat__info-bottom-text">Образец документа для подтверждения юридического...</span>
                                                    <div class="chat__pin">
                                                        <span class="chat__bot-count">12</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="chat__right">
                                    <div class="chat__header">
                                        <div class="chat__header-left">
                                             <span class="chat__header-img">
                                                <img src="../../src/images/media/user/user.jpg" alt="">
                                            </span>
                                            <div class="chat__header-top">
                                                <a href="" class="chat__header-title">Николай Иванов</a>
                                                <a href="" class="chat__header-subject"><i class="mdi mdi-briefcase"></i>
                                                    Java разработчик</a>
                                            </div>
                                        </div>
                                        <div class="chat-header-right">
                                            <button type="button">
                                                <i class="mdi mdi-source-fork"></i>
                                            </button>
                                            <button type="button">
                                                <i class="mdi mdi-dots-vertical"></i>
                                            </button>
                                            <button type="button" class="lk__chat-close">
                                                <i class="mdi mdi-close"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="chat__layout">
                                        <div class="chat__content">
                                            <div class="chat__messages" style="background-image: url(../../src/images/static/chat.png)">
                                                <div class="chat__context-time"><span>5 ноября</span></div>
                                                <div class="msg__item msg__to">
                                                    <div class="msg__tmp">
                                                        <span class="msg__text">Добрый день! Мы рассмотрели вашу кандидатуру. Бот позже проведёт с вами интервью</span>
                                                        <div class="msg__time">19:52</div>
                                                    </div>
                                                </div>
                                                <div class="msg__item msg__from">
                                                    <div class="msg__tmp">
                                                        <span class="msg__text">Здравствуйте! Хорошо, жду</span>
                                                        <div class="msg__time">19:53</div>
                                                    </div>
                                                </div>
                                                <div class="chat__context-time"><span>6 ноября</span></div>
                                                <div class="msg__item msg__to">
                                                    <div class="msg__tmp">
                                                        <span class="msg__text">Доброе утро! На связи чат-бот TalentSpot. Настало время пройти интервью!</span>
                                                        <div class="msg__time">10:00</div>
                                                    </div>
                                                </div>
                                                <div class="msg__item msg__to">
                                                    <div class="msg__tmp">
                                                        <span class="msg__text">У вас был опыт в разработке крупных проектов?</span>
                                                        <div class="msg__time">10:00</div>
                                                    </div>
                                                </div>
                                                <div class="msg__item msg__from">
                                                    <div class="msg__tmp">
                                                        <span class="msg__text">Да</span>
                                                        <div class="msg__time">10:02</div>
                                                    </div>
                                                </div>
                                                <div class="msg__item msg__to">
                                                    <div class="msg__tmp">
                                                        <span class="msg__text">У вас есть личный автомобиль?</span>
                                                        <div class="msg__time">10:02</div>
                                                    </div>
                                                    <div class="msg__bth">
                                                        <button>Да</button>
                                                        <button>Нет</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat__actions">
                                                <input type="text" placeholder="Сообщение">
                                                <button type="button"><i class="mdi mdi-arrow-up"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lk__nav-item lk__nav-bell">
                        <span><i class="mdi mdi-bell"></i></span>
                        <div class="pip"></div>
                        <div class="lk__bell-pop">
                            <div>
                                <div class="bell__none">
                                    <img src="../../src/images/static/event/6.png" alt="">
                                    Нет уведомлений
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="lk__nav-item lk__nav-name">
                        <span><i class="mdi mdi-account"></i></span>
                        <div>
                            <span>Иван</span>
                            <p>admin@talentspot.ru</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lk__content">
                <div class="lk__content-flex">
                    <div class="lk__content-left">

                        <div class="lk__tabs">
                            <div class="lk__tabs-bth">
                                <div data-tab="#lk__response-active" class="tab__links lk__tabs-link" id="default__tab">Активные</div>
                                <div data-tab="#lk__response-archive" class="tab__links lk__tabs-link">Архив</div>
                            </div>


                            <div class="lk__tabs-div">
                                <div class="tab__content lk__tab" id="lk__response-active">

                                    <div class="lk__div">

                                        <div class="lk__div-title-no">
                                            <div>
                                                Найдено 3 отклика
                                            </div>
                                            <div class="lk__bth-flex">
                                                <div class="lk__bth-add-min">
                                                    <i class="mdi mdi-magnify"></i>
                                                </div>
                                                <div class="lk__bth-add-min">
                                                    <i class="mdi mdi-tune-variant"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lk__div-content">

                                            <div class="lk__resume-wrapper">

                                                <div class="lk__resume-item lk__item__active">
                                                    <div class="lk__resume-item-content">
                                                        <div class="lk__resume-div lk__rv-title">
                                                            <div class="lk__rv-flex">
                                                                <i class="mdi mdi-lightbulb-on"></i>
                                                                <div>
                                                                    <div class="lk__resume-title">Системный администратор</div>
                                                                    <div class="lk__resume-update">Изменился статус отклика</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="lk__resume-div lk__rv-exp">
                                                            <div class="lk__resume-exp">
                                                                <span>Откликнулись</span>
                                                                <div><i class="mdi mdi-calendar-today-outline"></i> 18/12/2023</div>
                                                            </div>
                                                            <div class="lk__resume-exp">
                                                                <span>Статус</span>
                                                                <div><i class="mdi mdi-check-circle"></i> Разговор по телефону</div>
                                                            </div>
                                                        </div>
                                                        <div class="lk__resume-div lk__rv-bth">
                                                            <div class="lk__resume-bth">
                                                                <button><i class="mdi mdi-information-variant"></i></button>
                                                                <span></span>
                                                            </div>
                                                            <div class="lk__resume-bth">
                                                                <a href=""><i class="mdi mdi-chat-outline"></i></a>
                                                                <span></span>
                                                            </div>
                                                            <button class="lk__resume-bth-swap"><i class="mdi mdi-chevron-down"></i></button>
                                                        </div>
                                                    </div>
                                                    <div class="lk__resume-item-exp">



                                                    </div>
                                                </div>

                                                <div class="lk__resume-item">
                                                    <div class="lk__resume-item-content">
                                                        <div class="lk__resume-div lk__rv-title">
                                                            <div class="lk__rv-flex">
                                                                <i class="mdi mdi-lightbulb-on-outline"></i>
                                                                <div>
                                                                    <div class="lk__resume-title">Java-разработчик</div>
                                                                    <div class="lk__resume-update">Откликнулись 3 дня назад</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="lk__resume-div lk__rv-exp">
                                                            <div class="lk__resume-exp">
                                                                <span>Откликнулись</span>
                                                                <div><i class="mdi mdi-calendar-today-outline"></i> 18/12/2023</div>
                                                            </div>
                                                            <div class="lk__resume-exp">
                                                                <span>Статус</span>
                                                                <div><i class="mdi mdi-check-circle"></i> На рассмотрении</div>
                                                            </div>
                                                        </div>
                                                        <div class="lk__resume-div lk__rv-bth">
                                                            <div class="lk__resume-bth">
                                                                <button><i class="mdi mdi-information-variant"></i></button>
                                                                <span></span>
                                                            </div>
                                                            <div class="lk__resume-bth">
                                                                <a href=""><i class="mdi mdi-chat-outline"></i></a>
                                                                <span></span>
                                                            </div>
                                                            <button class="lk__resume-bth-swap"><i class="mdi mdi-chevron-down"></i></button>

                                                        </div>
                                                    </div>
                                                    <div class="lk__resume-item-exp">

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="tab__content lk__tab" id="lk__response-archive">

                                    <div class="lk__div">
                                        <div class="lk__div-title-no">
                                            <div>
                                                Найдено 3 отклика в архиве
                                            </div>
                                            <div class="lk__bth-flex">
                                                <div class="lk__bth-add-min">
                                                    <i class="mdi mdi-magnify"></i>
                                                </div>
                                                <div class="lk__bth-add-min">
                                                    <i class="mdi mdi-tune-variant"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lk__div-content">


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="lk__content-right">
                        <div class="lk__bar">
                            <a class="lk__bar-logout" href="">Выйти <i class="mdi mdi-logout"></i></a>
                            <span class="lk__bar-img">
                                <img src="../../src/images/media/user/user.jpg" alt="">
                            </span>
                            <div class="lk__bar-name">Иван Иванов</div>
                            <div class="lk__bar-status">Ищу работу</div>
                            <div class="lk__bar-slink">
                                <div class="lk__slink-item">
                                    <div class="lk__slink-title">
                                        <span><i class="mdi mdi-database-lock-outline"></i></span>
                                        Резюме
                                    </div>
                                    <div class="lk__slink-enum">
                                        3
                                    </div>
                                </div>
                                <div class="lk__slink-item">
                                    <div class="lk__slink-title">
                                        <span><i class="mdi mdi-briefcase-outline"></i></span>
                                        Откликов
                                    </div>
                                    <div class="lk__slink-enum">
                                        16
                                    </div>
                                </div>
                                <div class="lk__slink-item">
                                    <div class="lk__slink-title">
                                        <span><i class="mdi mdi-eye"></i></span>
                                        Просмотров
                                    </div>
                                    <div class="lk__slink-enum">
                                        243
                                    </div>
                                </div>
                            </div>
                            <div class="lk__bar-notice">
                                <div class="lk__notice-header">
                                    Оповещения
                                    <i class="mdi mdi-bell-ring-outline"></i>
                                </div>
                                <div class="lk__bar-notice-list">
                                    <div class="lk__nl-item">
                                        <i class="mdi mdi-chat-processing-outline"></i>
                                        <div>
                                            <span>Новое сообщение</span>
                                            <p>01.12.2023 17:14</p>
                                        </div>
                                    </div>
                                    <div class="lk__nl-item">
                                        <i class="mdi mdi-checkbox-marked-circle-auto-outline"></i>
                                        <div>
                                            <span>Автоматический отклик</span>
                                            <p>30.11.2023 11:44</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lk__more-notice">
                                <a href="">Ещё 7 уведомлений</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>
<!-- / MAIN CONTENT -->

<!-- INCLUDE SCRIPTS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
        integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>new WOW().init()</script>

<script src="../../build/lk.bundle.js"></script>
<!-- / INCLUDE SCRIPTS -->

</body>
</html>
